

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin              : 0;
    padding             : 0;
}
body{
    line-height         : 1;
    font-family         : Arial, Helvetica, sans-serif;
    font-size           : .75em;
    background          : #195091;
}
.clear {
    clear               : both;
}
.container {
    max-width           : 1024px;
    width               : 100%;
    margin              : 0px auto;
    position            : relative;
}
.header {
    position            : fixed;
    width               : 100%;
    max-width           : 1024px;
    top                 : 0px;
}
.header_nav_tabs {
    background          : url('../img/tile.png');
    max-height          : 86px;
    overflow: hidden;
}
.header_nav_tabs .nav_tab {
    float               : left;
    width               : 25%;
    text-align          : center;
}
.header_nav_tabs .nav_tab h2 a {
    display             : block;
    padding             : 40px 0px 10px 0px;
    color               : #fff;
    text-decoration     : none;
    height              : 36px;
    font-weight         : normal;
    font-size           : 1em;
    text-transform      : none;
}
.header_nav_tabs .nav_tab.airports h2 a:hover,
.header_nav_tabs .nav_tab.airports h2 a.active {
    background          : url('../img/plane.png') no-repeat center 10px #227AE7;
}
.header_nav_tabs .nav_tab.trips h2 a:hover,
.header_nav_tabs .nav_tab.trips h2 a.active {
   background           : url('../img/group.png') no-repeat center 10px #227AE7;
}
.header_nav_tabs .nav_tab.high_flyers h2 a:hover,
.header_nav_tabs .nav_tab.high_flyers h2 a.active {
    background          : url('../img/high_flyers.png') no-repeat center 10px #227AE7;
}
.header_nav_tabs .nav_tab.account h2 a:hover,
.header_nav_tabs .nav_tab.account h2 a.active {
    background          : url('../img/account.png') no-repeat center 10px #227AE7;
}
.nav_tab.airports a {
    background          : url('../img/plane.png') no-repeat center 10px;
}
.nav_tab.trips a {
    background          : url('../img/group.png') no-repeat center 10px;
}
.nav_tab.high_flyers a {
    background          : url('../img/high_flyers.png') no-repeat center 10px;
}
.nav_tab.account a {
    background          : url('../img/account.png') no-repeat center 10px;
}
.header_search,
.list_by {
    padding             : 4px;
    background          : url('../img/search_bg.png') repeat-x #09447c;
}
.header_search form {
    width               : 100%;
}
.header_search form .txt_search,
.header_search form .btn_search {
    float               : left;
    border              : none;
    margin              : 0px;
    padding             : 0px;
}
.header_search form .txt_search {
    width               : 81%;
    background          : #fff;
    box-shadow          :  inset 0px 0px 10px 1px #ccc;
    padding             : 14px 1%;
    padding-left        : 3%;
    border-radius       : 10px 0px 0px 10px;
}
.header_search form .btn_search {
    width               : 15%;
    padding             : 14px 0px;
    border-radius       : 0px 10px 10px 0px;
    background          : url('../img/search.png') no-repeat center #227AE7;
    box-shadow          : 0px 0px 0px 1px #0658a8;
}
.scroller {
    margin-top          : 190px;
}
#loader{
    color               : #fff;
    text-align          : center;
    margin-top          : 300px; 
}
.list_by .nearby,
.list_by .all {
    width               :50%;
    float               : left;
    background          : transparent;
}
.list_by .nearby a,
.list_by .all a {
    display             : block;
    text-align          : center;
    padding             : 14px 0px;
    color               : #fff;
    text-decoration     : none;
    font-size           : 1.25em;
    background          : url('../img/list_btn_bg.png') repeat-x #09447c;
    box-shadow          : 0px 0px 0px 1px #09447c;
    border-top          : solid 1px #70add7;
}
.list_by .nearby a:hover,
.list_by .nearby a.active,
.list_by .all a:hover,
.list_by .all a.active {
    background          : url('../img/act_list_btn_bg.png') repeat-x #09447c;
}
.list_by .nearby a {
    border-radius       : 10px 0px 0px 10px;
}
.list_by .all a {
    border-radius       : 0px 10px 10px 0px;
}
.scroller .thelist li {
    list-style-type     : none;
    border-bottom       : solid 2px #afb0b3;
    background          : #fff;
}
.scroller .thelist li a {
    display             : block;
    float               : left;
    font-size           : 1.25em;
    text-decoration     : none;
    color               : #000;
    padding             : 20px 1%;
}
.scroller .thelist li a.port_name {
    width               : 83%;
    
}
.scroller .thelist li a.port_code {
    width               : 13%;
    font-weight         : bold;
}
.index_home_btn {
    padding: 0px !important;
}
.index_home_btn img {
    padding-top : 10px;
}
.header_nav_tabs .nav_tab.icon {
    height: 86px;
    background: #164782;
}
/*-------------------- Airport Overview Page Styling -----------------------*/
.inner_header {
    background          : url('../img/tile.png');
}
.inner_header .home_btn img {
    float               : left;
    padding-right       : 25px;
    height              : 66px;
}
.inner_header > p {
    display             : block;
    text-decoration     : none;
    color               : #fff;
    font-size           : 2em;
    /*background          : url('../img/tile.png');*/
    padding             : 21px 0px;
    /*font-weight         : bold;*/
    /*padding-left        : 25px;*/
}
.content {
    margin-top          : 66px;
    padding             : 5px;
    color               : #9c9d9e;
}
.content > div {
    background          : rgba(0,0,0,.1);
    padding             : 20px; /* 30px; */
    margin-bottom       : 5px;
}
.airport_details h3,
.current_weather h3 {
    color               : #fff;
    font-size           : 2em;
    font-weight         : normal;
    line-height         : 1.25em;
}
.airport_details p,
.current_weather p {
    font-size           : 1.5em;
}
.current_date,
.current_time {
    float               : left;
    width               : 45%;
    margin-top          : 15px;
}
.current_date h4,
.current_time h4 {
    font-size           : 5em;
    float               : left;
    line-height         : .8em;
    color               : #fff;
}
.date_div,
.time_div {
    margin-top          : 5px;
}
.date_div p,
.time_div p {
    float               : left;
    line-height         : 1.4em;
    padding-left        : 5px;
    width               : 50px;
}
.current_weather .weather_img {
    width               : 50%;
    float               : left;
    min-height          : 220px;
    background          : url('../img/weather1.png') no-repeat center;
    /*background-size     : 100%;*/
}
.current_weather .weather_img1 {
    width               : 50%;
    float               : left;
    min-height          : 220px;
    background          : url('../img/weather12.png') no-repeat center;
    /*background-size     : 100%;*/
}
.current_weather .weather_img2 {
    width               : 50%;
    float               : left;
    min-height          : 220px;
    background          : url('../img/weather123.png') no-repeat center;
    /*background-size     : 100%;*/
}
.wind_visibility {
    float               : left;
    width               : 50%;
}
.view2 .current_date,
.view2 .current_time {
    float               : left;
    width               : 25%;
    margin-top          : 15px;
}
.view2 .wind_visibility .current_date {
    width               : 50%;
}
.view2 .weather_img1 {
    width               : 25%;
    background-size     : 100%;
    min-height          : 131px;
}
.splash {
    width   : 100%;
    height: 100%;
    display: block;
    background: url('../img/background_img.jpg') no-repeat center #195091;
    background-size: 111%; 
    background-position-y: 0px;
}
/*------------------- Login Screen Page -----------------------*/
.login input[type="text"],
.login input[type="password"],
.signup input[type="text"],
.signup input[type="password"] {
    width: 98%;
    margin: 0px;
    padding: 20px 1%;
    border: none;
    font-size: 14px;
    outline: none;
}
.login .operation,
.signup .operation {
    margin-top: 20px;
}
.login input[type="button"],
.signup input[type="button"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0px;
    border: none;
    font-size: 18px;
    outline: none;
    background: url('../img/list_bg.png') repeat-x #09447c;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 0px 0px 1px #09447c;
}
.signup_login_div input[type="button"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0px;
    border: none;
    font-size: 18px;
    outline: none;
    background: url('../img/list_bg.png') repeat-x #09447c;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 0px 0px 1px #09447c;
}
a.btn_sign {
    display: block;
    text-decoration: none;
    color   : #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    background: url('../img/list_bg.png') repeat-x #09447c;
    padding: 20px 0px;
    border-radius: 10px;
    text-transform: none;
}





@media screen and (min-width: 481px) {
    .view2 .weather_img1 {
        width               : 25%;
        background-size     : auto 100%;
        min-height          : 131px;
    }
}

@media screen and (max-width: 479px) {
    .header_nav_tabs .nav_tab h2 a {
        height              : 6px;
        font-size           : 0.625em;
    }
    .header_search form .txt_search {
        padding             : 13px 1% 13px 3%;
        border-radius       : 6px 0px 0px 6px;
    }
    .header_search form .btn_search {
        padding             : 13px 0px;
        background-size     : 50%;
        border-radius       : 0px 6px 6px 0px;
    }
    .header_search,
    .list_by {
        padding             : 3px;
    }
    .list_by .nearby a, .list_by .all a {
        padding             : 8px 0px;
        font-size           : 1em;
    }
    .scroller {
        margin-top          : 142px;
    }
    .scroller .thelist li a {
        font-size           : 1em;
        padding             : 19px 1%;
    }
    .inner_header > p {
        font-size           : 1.5em;
    }
    .airport_details h3,
    .current_weather h3 {
        font-size           : 1.5em;
    }
    .airport_details p,
    .current_weather p {
        font-size           : 1.25em;
    }
    .current_date,
    .current_time {
        width               : 50%;
    }
    .content > div {
        padding             : 10px;
    }
    .current_date h4,
    .current_time h4 {
        font-size           : 3.5em;
        line-height         : 1em;
    }
    .current_weather .weather_img,
    .current_weather .weather_img1,
    .current_weather .weather_img2 {
        min-height          : 190px;
        background-size     : 75%;
    }
    .inner_header .home_btn img {
        height              : 60px;
    }
    .content {
        margin-top          : 60px;
    }
    .view2 .weather_img1 {
        min-height          : 120px;
    }
    .splash {
        background-size: 100%; 
    }
    .login input[type="text"],
    .login input[type="password"],
    .signup input[type="text"],
    .signup input[type="password"] {
        padding: 15px 1%;
    }
    .login input[type="button"],
    .signup input[type="button"] {
        padding: 15px 0px;
    }
    .header_nav_tabs .nav_tab.icon {
        height: 56px;
        background: #164782;
    }
    .index_home_btn img {
        width: 70%;
    }
}
@media screen and (max-width: 319px) {
    .header_search form .txt_search {
        padding             : 5px 1% 5px 3%;
        border-radius       : 6px 0px 0px 6px;
    }
    .header_search form .btn_search {
        padding             : 5px 0px;
        background-size     : 50%;
        border-radius       : 0px 6px 6px 0px;
    }
    .header_nav_tabs .nav_tab h2 a {
        font-size           : .438em;
    }
    .list_by .nearby a, .list_by .all a {
        padding             : 5px 0px;
    }
    .list_by .nearby a {
        border-radius       : 5px 0px 0px 5px;
    }
    .list_by .all a {
        border-radius       : 0px 5px 5px 0px;
    }
    .scroller {
        margin-top          : 117px;
    }
    .scroller .thelist li a {
        padding             : 14px 1%;
    }
    .inner_header > p {
        font-size           : 1em;
    }
    .airport_details h3,
    .current_weather h3 {
        font-size           : 1em;
    }
    .airport_details p,
    .current_weather p {
        font-size           : .875em;
    }
    .current_date,
    .current_time {
        width               : 50%;
    }
    .content > div {
        padding             : 10px;
    }
    .current_date h4,
    .current_time h4 {
        font-size           : 2.1em;
        line-height         : 1.1em;
    }
    .current_weather .weather_img,
    .current_weather .weather_img1,
    .current_weather .weather_img2 {
        min-height          : 145px;
        background-size     : 70%;
    }
    .inner_header .home_btn img {
        height              : 54px;
    }
    .content {
        margin-top          : 54px;
    }
    .view2 .weather_img1 {
        min-height          : 85px;
    }
    .splash {
        background-position-y: -20px;
    }
    .login input[type="text"],
    .login input[type="password"],
    .signup input[type="text"],
    .signup input[type="password"] {
        padding: 10px 1%;
    }
    .login input[type="button"],
    .signup input[type="button"] {
        font-size: 14px;
        padding: 10px 0px;
    }
}