
            <div class="header">
                <div class="inner_header">
                    <a href="home.html" class="home_btn"><img src="img/m.png" alt=""/></a>
                    <p>Airport Overview</p>
                </div>
            </div>
            <div class="content">
                <div class="data_not_available">
                    <p>Data Not Available</p>
                </div>
                <div class="airport_details">
                    <h3 id="airport_fullname">(DEL) Indira Gandhi Intl Airport</h3>
                    <p id="city_country">Delhi, IN</p>
                    <div class="current_date">
                        <p>Current Date</p>
                        <div class="date_div">
                            <h4 id="current_date">3/19</h4>
                            <p id="year">2014</p>
                            <p id="day">WED</p>
                        </div>
                    </div>
                    <div class="current_time">
                        <p>Current Time</p>
                        <div class="time_div">
                            <h4 id="time">3:45</h4>
                            <p>IST</p>
                            <!--<p>PM</p>-->
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
              <!--  <div class="current_weather">
                    <h3>Current Weather 1</h3>
                    <div class="weather_img">
                        
                    </div>
                    <div class="weather_details">
                        <div class="current_date">
                            <p id="skyCondition">SMOG</p>
                            <div class="date_div">
                                <h4 id="temp_fer">81°</h4>
                                <p>F</p>
                                <p id="temp_cel">27° C</p>
                            </div>
                        </div>
                        <div class="wind_visibility">
                            <div class="current_date">
                                <p>Wind</p>
                                <div class="date_div">
                                    <h4 id="windSpeed">13</h4>
                                    <p>Knots</p>
                                    <p>WNW</p>
                                </div>
                            </div>
                            <div class="current_date">
                                <p>Visibility</p>
                                <div class="date_div">
                                    <h4 id="visibility">3</h4>
                                    <p>MI</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>-->
                <div class="current_weather view2">
                    <h3>Current Weather 2</h3>
                    <div class="weather_img1">
                        
                    </div>
                    <div class="weather_details ">
                        <div class="current_date">
                            <p id="skyCondition">SMOG</p>
                            <div class="date_div">
                                <h4 id="temp_fer">81</h4>
                                <p>°F</p>
                                <p id="temp_cel">27° C</p>
                            </div>
                        </div>
                        <div class="wind_visibility">
                            <div class="current_date">
                            <p>Wind</p>
                            <div class="date_div">
                                <h4 id="windSpeed">13</h4>
                                <p>Knots</p>
                                <p>WNW</p>
                            </div>
                        </div>
                        <div class="current_date">
                            <p>Visibility</p>
                            <div class="date_div">
                                <h4 id="visibility">3</h4>
                                <p>MI</p>
                            </div>
                        </div>
                            
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                
            </div>